.recipe-details-container {
    margin-left: 4%;
    margin-right: 4%;
    background-color:rgba(255, 255, 255, 0.594);
    border-radius: 7px;
    padding-top: 3px;
    padding-bottom: 8px;
    padding-left: 3%;
}

.recipe-details-button-container {
    display: inline;
    
}

.details-btn {
    height: 35px;
    width: 80px;
    margin: 1rem 1rem 1rem 0;
    border-color: #FF9659;
    background-color: #ff7b39;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    color: white;
}

.favorites-btn {
    height: 35px;
    width: 80px;
    margin: 1rem 1rem 1rem 0;
    border-color: #FF9659;
    background-color: #ff7b39;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    color: white;
}

.delete {
    color:red;
}

.recipe-details-name {
    font-size: 55px;
    margin-top: 19px;
}

.recipe-details-image {
    margin-top: 20px;
}