.user-favorites-text-container {
    margin-top: 30px;
    width: 90%;
    background-color: #ffff;
    border-radius: 7px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    padding-top: 3px;
    padding-bottom: 8px;
    padding-left: 3%;
}

.user-favorites-title {
    font-size: 300%;
    font-family: 'Fredoka One', display;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #ff6633;
}

.user-favorite-name {
    margin-top: 8px;
    font-size: 130%;
    color: #ff6633;
}

.user-favorites-text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
}

img.user-favorite-image {
    border-radius: 8px;
    width: 10em;
    height: 10em; 
    object-fit: cover;
  }

.user-favorite__link {
    margin-right: 20px;
}