img {
    border-radius: 8px;
    width: 20em;
  }

  .content-container {
    margin-left: 4%;
  }

  .home-welcome-message {
    margin-left: 4%;
  }

  a:hover {
    text-decoration: none;
    
  }

  .welcome-icon {
    width: 40px;
  }

  .username {
    font-weight: 700;
    font-style: italic;
  }