.user-recipes-text-container {
    margin-top: 30px;
    width: 90%;
    background-color:#ffff;
    border-radius: 7px;
    padding-top: 3px;
    padding-bottom: 8px;
    padding-left: 3%;
}

.user-recipes-title {
    font-size: 300%;
    color: #ff6633;
    margin-top: 2%;
    margin-bottom: 2%;
}

.user-recipes-text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
}

img.user-recipe-image {
    border-radius: 8px;
    width: 10em;
    height: 20em; 
    object-fit: cover;
  }

.user-recipe__link {
    margin-right: 20px;
}
