
/* a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    text-decoration: none;
    color: green;
  }
  
  a:active {
    text-decoration: underline;
  } */