.container--login {
    width: 600px;
    height: 500px;
    border-radius: 10px;
    margin: auto;
    padding: 11rem;
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.btn-login {
    height: 35px;
    width: 80px;
    margin: 1rem 1rem 1rem 0;
    border-color: #FF9659;
    background-color: #ff7b39;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    color: white;
}

input.form-control {
width: 160px;
border-radius: 10px;
margin:auto;
}

.login-container {
    text-align: center
}

.login-fieldset {
    margin-top: 1rem;
}

.link--register {
    text-align: center;
    margin-top: 6px;
}